body {
  background: grey;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

header, section {
  width: 90%;
  margin: 10%;
}
.Collapsible {
  margin: 5% 0; 
}

.Collapsible__trigger {
  color: rgb(197, 166, 183);
}

.Collapsible__contentInner {
  color: darkred;
}

